@use '/src/assets/sass/lib/vars' as *;

.project {
    overflow-y: hidden;
    display: flex;
    position: relative;
    .container {
        overflow-y: auto;
        max-height: 100%;
        display: flex;
        width: calc(100% / 3);
        min-width: 300px;
        .info {
            width: 100%;
        }
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        gap: 8px;
    }
    .data {
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .gallery {
        padding: 8px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        overflow-y: auto;
        height: 100%;
        .column {
            display: flex;
            flex-direction: column;
            gap: inherit;
        }
        img {
            width: 100%;
        }

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

    }

    @media (max-width: 768px) {
        flex-direction: column;
        .container {
            background-color: $light;
            max-width: unset;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 2000;
            transition: all 300ms ease;
        }
    }

    &.isExpanded {
        .container {
        }
    }

}