@import '@/assets/sass/lib/vars';

.Button {
    width: fit-content;
    max-width: 100%;
    display: flex;
    padding: 8px 12px;
    font-size: 16px;
    transition: all 200ms ease;
    &.primary {
        color: $light;
        background-color: $primary;
    }
    &.light {
        color: $primary;
        background-color: $light;
    }
    &:hover {
        opacity: 0.8;
    }
}