.ServiceCard {
    padding: 16px;
    display: flex;
    width: 100%;
    gap: 8px;
    .title {
        width: calc(100% / 3);
        font-weight: 600;
        text-transform: uppercase;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
        .text {
            flex-grow: 1;
        }
    }
    /* &:hover {
        .container {
            display: none;
        }
        .image {
            display: block;
            width: 100%;
            img {
                width: 100%;
                height: 25vw;
                object-fit: cover;
            }
        }
    } */
}