.ArchiveMini {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .image {
        width: 100%;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .title {
        flex-grow: 1;
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 4px;
    }
    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}