@import '@/assets/sass/lib/vars';
@import '@/assets/sass/lib/animations';

.home {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 300px;

    .container {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        .introduction {
            position: relative;
            width: 100%;
            min-height: 100%;
            display: flex;
            align-items: center;
            padding: 20px;
            color: $primary;
            transition: all 1s ease-in-out;

            h2 {
                font-size: 44px;
                color: currentColor;
                user-select: none;
            }

            /* &.start {
                color: $tertiary;
            } */
        }

        .archive {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .sidebar {
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .events {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        
        .container {
            padding: 16px;
            h2 {
                font-size: 40px;
            }
        }
    }
}

.cursor {
    /* pointer-events: none;
    position: fixed;
    z-index: 100;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: rgba($light, 0.2);
    backdrop-filter: blur(10px);
    transform: translate(-50%, -50%); */
}