@import '@/assets/sass/lib/vars';

@keyframes _appear {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

.Header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary;

    .swipeTratteggio {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        padding: 4px;
        transition: all 200ms ease;
        &:hover {
            opacity: 0.8;
        }
        svg {
            fill: $light;
            width: 14px;
            height: 14px;
            transform: rotate(90deg);
        }
    }

    .toggle {
        transition: all 320ms ease;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    .menu {
        width: 100%;
        align-items: center;
        display: flex;
        transition: all 200ms ease;
        padding: 16px;
        gap: 8px;

        &.open {
            transform: translateX(0%);
            .logo, .navbar {
                display: flex;
            }
        }
        .logo {
            white-space: nowrap;
            font-size: 16px;
            font-weight: 600;
        }
        .navbar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            /* .dot {
                width: 4px;
                height: 4px;
                background-color: $primary;
                border-radius: 50%;
                margin-top: 8px;
            } */
        }
        .list {
            max-width: 100%;
            list-style: none;
            padding: 0;
            display: flex;
            align-items: center;
            .item, 
            .language {
                font-size: 16px;
                font-weight: 600;
                text-transform: lowercase;
                display: flex;
                align-items: center;
                transition: all 200ms ease;
                &:hover:not(.current) {
                    opacity: 0.6;
                    cursor: pointer;
                }
                &.disabled {
                    pointer-events: none;
                    opacity: 0.4;
                }
            }
            .item {
                &:not(:last-child)::after {
                    content: "/";
                }
                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .language {
                text-transform: lowercase;
                font-weight: 600;
                &:not(:last-child)::after {
                    content: "/";
                }
                &.current {
                    color: $light;
                    background-color: $primary;
                }
            }
        }
        .features {
            display: flex;
            gap: 8px;
        }
    }

    &.scrollActive:has(.menu.open) {
        background-color: $secondary;
        border-color: rgba(0, 0, 0, 0.1);
    }
}