@import '@/assets/sass/lib/vars';

.EventCard {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    
        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 16px;
            gap: 16px;
            .head {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                .title {
                    font-weight: 600;
                }
                .info {}
            }
            .image {
                width: 100%;
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    object-position: center center;
                }
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: $primary;
                    mix-blend-mode: color;
                    z-index: 1;
                    pointer-events: none;
                }
            }
        }
    }
    
    &[data-book="true"] {
        .container {
            color: $light;
            background-color: $primary;
        }
    }

    .tag {
        width: fit-content;
        max-width: 100%;
        padding: 8px 12px;
        border-radius: 100px;
        color: $primary;
        background-color: $secondary;
        font-size: 14px;
        font-weight: 600;
    }
}