@import '@/assets/sass/lib/vars';

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.Schnipsel {
    display: flex;
    position: fixed;
    z-index: 2000;
    transform: translate(-50%, -50%);
    &.active {
        /* outline: 1px solid $primary; */
    }
    &.dragging {
        svg path:active { cursor: grab; }
    }
    svg {
        width: 100%;
        height: 100%;
        fill: $primary;
        animation: appear 1s ease-in-out;
        path {
            &:hover {
            }
        }
    }
    svg path:hover {
        cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='21' fill='none' viewBox='0 0 22 21'%3E%3Cpath fill='%23fff' d='M5.118 13.274c1.116-.975.915-1.566 1.41-1.998.114-.1.217-.15.426-.212l1.457-.379c.173-.042.324-.074.452-.096l.036-.031c-.277-.594-.322-1.092-.138-1.651l-.029-.034-1.957.506c-.61.156-.8.012-1.238-.49-1.114-1.275-3.075-1.352-4.411-.184C-.204 9.867-.38 11.82.729 13.09c1.104 1.264 3.06 1.346 4.39.184Zm-.803-.92c-.782.683-1.958.626-2.608-.12-.666-.76-.554-1.922.227-2.605.805-.703 1.965-.652 2.63.11.157.178.275.387.347.615.072.228.097.47.074.714a1.915 1.915 0 0 1-.21.702 2 2 0 0 1-.46.584Zm6.412 7.34c1.337-1.168 1.523-3.121.41-4.396-.41-.469-.549-.676-.348-1.18L16.452.228c-.984-.632-2.084.07-3.13 1.87L9.738 8.281c-.503.868-.517 1.467-.167 2.265l.241.516c.167.372.158.638-.11 1.27l-.527 1.276c-.085.204-.149.3-.262.398-.495.433-1.059.15-2.174 1.124-1.33 1.162-1.511 3.11-.412 4.369 1.11 1.269 3.069 1.357 4.4.195Zm.58-9.897c-.27.235-.684.23-.91-.03-.238-.27-.182-.677.086-.912.274-.24.684-.24.921.031.227.26.177.672-.098.911Zm7.618-1.284c1.956-.784 2.768-1.792 2.254-2.875l-6.975 1.817-1.394 3.377.059.068 6.056-2.387ZM9.92 18.769c-.781.683-1.947.637-2.613-.125-.65-.745-.544-1.912.237-2.595.806-.703 1.97-.646 2.62.098.666.762.562 1.918-.244 2.622Z'/%3E%3C/svg%3E") 32 32, pointer;
    }
}